---
import Layout from "../Layouts/Layout.astro";
---

<Layout title="Site Runner" proxy={false}>
    <main id="site-runner-main">
        <iframe src="" id="site-runner"></iframe>
        <script src="../scripts/siterunner.ts"></script>
    </main>
</Layout>
